* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid red;
}


/* Common Styles */
.width-fill {
	width: 100%;
}


/* Header */



/* Main */



/* Footer */



/* Media Queries */
